@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Koulen&family=Oswald:wght@700&family=Smooch&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*VARS*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  z-index: 0;
  background-color: #000000;
}

.navbar-expand-xs {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-expand-xs {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-toggler {
  border: none;
}

.navbar-dark .navbar-brand {
  color: #0cb4e2;
  font-family: 'Smooch', cursive;
  font-size: 35px;
  margin-left: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  text-align: right;
}

.navbar-dark .navbar-toggler {
  color: black;
}

.bg-dark {
  background-color: #030303 !important;
}

p {
  margin-bottom: 1.5em;
}

.contenedor {
  width: 85%;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  background-color: #000000;
  margin-top: 5rem;
  color: black;
}

.princ {
  background-image: url(svg/test.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem;
}

.princ h1 {
  font-family: 'Oswald', sans-serif;
  color: rgba(62, 187, 221, 0.685);
  font-size: 7rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.princ h1 span {
  font-size: 13rem;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.princ p {
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.container1 {
  margin-top: -5rem;
  background-color: #000000;
}

.container1 h1 {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.container1 p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 2em;
}

.seccion1 {
  background-color: #000000;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: auto;
  background-color: #000000;
  /*Declaro el template area*/
      grid-template-areas: "medias1 medias2 medias3"
 "medias4 medias5 medias6";
  margin: 1em auto;
  gap: 2em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.medias {
  -webkit-transition: all 10s;
  transition: all 10s;
}

.medias1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias5:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias6:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.medias7:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Ajusto el tamaño de las imágenes para que ocupen el tamaño disponible en cada area de la grilla*/
.grid img {
  width: 100%;
  -webkit-box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.52);
          box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.52);
}

.grid img:hover {
  -webkit-box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
          box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
}

/*Indico cada area del template*/
.medias1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: medias1;
}

.medias2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: medias2;
}

.medias3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: medias3;
}

.medias4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: medias4;
}

.medias5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: medias5;
}

.medias6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: medias6;
}

/*TOP.HTML*/
.grid2 {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: auto;
  background-color: #000000;
  /*Declaro el template area*/
      grid-template-areas: "buzos1 buzos2 buzos3"
 "buzos6 buzos5 buzos4";
  margin: 4em  auto;
  gap: 3em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid2 img {
  width: 100%;
  -webkit-box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
}

.grid2 img:hover {
  -webkit-box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
          box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
}

/*declaro las areas*/
.buzos {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.buzos1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos5:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos6:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buzos1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: buzos1;
}

.buzos2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: buzos2;
}

.buzos3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: buzos3;
}

.buzos4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: buzos4;
}

.buzos5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: buzos5;
}

.buzos6 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: buzos6;
}

.container2 h1 {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.container2 p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

/*bottom.html*/
.container3 h1 {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.container3 p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.grid3 img {
  width: 100%;
  -webkit-box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
}

.grid3 {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: auto;
  background-color: #000000;
  /*Declaro el template area*/
      grid-template-areas: "short1 short2 short3"
 "short4 short5 short6";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 4em  auto;
  gap: 2em;
}

.grid3 img:hover {
  -webkit-box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
          box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
}

.short {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.short1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short5:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short6:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.short1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: short1;
}

.short2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: short2;
}

.short3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: short3;
}

.short4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: short4;
}

.short5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: short5;
}

.short6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: short6;
}

/*New seasson Index*/
.ns {
  margin-top: 10em;
  width: 100%;
  height: auto;
}

.divns {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid black;
}

.divns h2 {
  color: #fff;
  letter-spacing: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.divns p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.grid4 {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: auto;
  background-color: #000000;
  /*Declaro el template area*/
      grid-template-areas: "ns1  ns2   ns3"
 "ns5  ns4  ns6"
 "ns7  ns8   ns9";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 4em  auto;
  gap: 2em;
}

.grid4 img {
  width: 100%;
  -webkit-box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 2px -2px 18px 1px rgba(0, 0, 0, 0.75);
}

.grid4 img:hover {
  -webkit-box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
          box-shadow: 2px 7px 40px 16px rgba(168, 235, 247, 0.463);
}

.ns1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ns1;
}

.ns2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ns2;
}

.ns3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ns3;
}

.ns4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ns4;
}

.ns5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ns5;
}

.ns6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ns6;
}

.ns7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ns7;
}

.ns8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ns8;
}

.ns9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: ns9;
}

/*FOOTER*/
.footer {
  background-color: #030303;
  width: 100%;
}

.col {
  padding: 2em 0 0 2em;
  text-align: left;
  height: 500px;
  background-color: #030303;
}

.col p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

.col h3 {
  color: #fffefe;
  padding-bottom: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: lowercase;
  font-size: 50px;
}

.iconos a {
  display: inline-block;
}

.iconos i {
  color: rgba(12, 180, 226, 0.685);
  text-decoration: none;
  letter-spacing: 40px;
  padding: 1em 0 2em 0;
  font-size: 30px;
}

.info {
  text-align: center;
}

.info h3 {
  border-bottom: 3px solid rgba(12, 180, 226, 0.685);
  padding-bottom: 2em;
  padding-top: 2em;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 50;
}

.info p {
  letter-spacing: 2px;
  text-align: left;
  margin: 10px;
  padding: 10px 15px 15px 30px;
}

.contacto {
  text-align: center;
}

.contacto h3 {
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: 50;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 3px solid rgba(12, 180, 226, 0.685);
}

.col h2 {
  font-weight: 100;
  color: #fff;
  font-size: 15px;
}

.btn {
  background-color: rgba(12, 180, 226, 0.685);
  color: #fff;
  font-weight: bold;
}

.mb-3 {
  padding-right: 2em;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .info h3 {
    border-bottom: none;
    border-top: 3px solid rgba(12, 180, 226, 0.685);
  }
  .contacto h3 {
    border-bottom: none;
    border-top: 3px solid rgba(12, 180, 226, 0.685);
  }
  .grid {
    width: 80%;
  }
  .grid2 {
    width: 80%;
  }
  .grid3 {
    width: 80%;
  }
  .grid4 {
    width: 80%;
  }
  .row {
    display: inline-block;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .col h3 {
    text-align: center;
  }
  .col p {
    text-align: center;
  }
  .col {
    width: 100%;
  }
  .div1 {
    height: 200px;
    text-align: center;
    margin-bottom: 12em;
  }
  .div2 {
    height: 350px;
  }
  .iconos i {
    color: rgba(12, 180, 226, 0.685);
    text-decoration: none;
    letter-spacing: 50px;
    font-size: 20px;
    text-align: center;
  }
  .info p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
    padding: 10px 15px 15px 30px;
  }
}

@media screen and (max-width: 480px) {
  .seccion1 {
    height: 100vh;
  }
  .grid {
        grid-template-areas: "medias1 medias2 "
 "medias3 medias6 "
 "medias4 medias5 ";
    margin: 4em auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    width: 80%;
  }
  .grid2 {
        grid-template-areas: "buzos1 buzos2 "
 "buzos3 buzos6"
 "buzos4 buzos5 ";
    margin: 4em  auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 80%;
    -webkit-box-shadow: -14px 1px 21px 1px rgba(0, 0, 0, 0.254);
            box-shadow: -14px 1px 21px 1px rgba(0, 0, 0, 0.254);
  }
  .grid3 {
        grid-template-areas: "short1 short2 "
 "short3 short6"
 "short4 short5 ";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 15px;
  }
  .grid4 {
        grid-template-areas: "ns1  ns2 "
 "ns7  ns8 "
 "ns9  ns5"
 "ns6  ns3";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    width: 80%;
  }
  .ns4 {
    display: none;
  }
  .header {
    height: 130px;
  }
  .nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .liheader {
    margin-right: 3rem;
  }
  .princ h1 {
    font-size: 5rem;
  }
  .princ h1 span {
    font-size: 6rem;
  }
  .princ p {
    font-size: .7rem;
  }
  .container1 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 200;
  }
  .container1 p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  .header div a {
    margin-right: 3rem;
    font-size: 30px;
    letter-spacing: 0;
    text-align: center;
  }
}

.contenedor {
  width: 70%;
  max-width: 1920px;
  margin-left: 100px;
}

.divns h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}

.divns p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.container2 h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}

.container2 p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 610px) {
  .divfooter {
    letter-spacing: 9px;
  }
}
/*# sourceMappingURL=styles.css.map */